/* 
//------------//------------//------------//------------
    Table Of Contents
//------------//------------//------------//------------
    1. Global Styles 
    2. Typography
    3. Layout
    4. Components
        4.1 Side Panel
            4.11 Toggle Button
            4.12 Info Panel
                4.12a Category
                4.12b Divider
        4.2 Map
        4.3 Point
        4.4 Tooltip
        4.5 Settings Bar
    5. State Classes
    6. Media Queries
        6.1 
    0. Quick-Hacks/Temporary
*/

/* 
//------------//------------//------------
    1. Global Styles
//------------//------------//------------
*/
:root {
    --navHeight: 50px;
    --textColor700: hsl(37, 9%, 80%);
    --textColor400: hsl(37, 19%, 97%);
    --color700: #01080e;
    --color400: hsl(210, 88%, 13%);
}

h2::selection,
h3::selection{
    background: var(--color700);
}

::selection{
    background: var(--color400);
}

.point{
    -webkit-user-select: none;  
    -moz-user-select: none;    
    -ms-user-select: none;      
    user-select: none;
}

button{
    border: none;
    background: none;
}
/* 
//------------//------------//------------
    2. Typography
//------------//------------//------------
*/
html{
    font-family: "Spiegel", Helvetica, sans-serif;
    user-select: none;
}

h2{
    font-size: 3rem;
    margin-top: 0;
    margin-bottom: 1.5rem;
}

h3{
    font-size: 1.8rem;
    margin-top: 1rem;
}

#sidePanel{
    user-select: text;
}

br{
    margin:2.5em 0;/* FF for instance */
    line-height:5em;/* chrome for instance */
}

/* 
//------------//------------//------------
    3.Layout
//------------//------------//------------
*/
nav{
    
    height: 50px;
    width: 100vw;

    background-color: #38762c;
}

html,
body{
    margin: 0;
    min-height: calc(100vh - 50px);
    min-height: -webkit-fill-available; 


    overflow: hidden;

    background-color: rgb(25,25,25);

    touch-action: none;
}

header{
    z-index: 2;
    position: fixed;
    top: 0;
    

    height: 50px;
}

.mapContainer{
    position: absolute;
    top: var(--navHeight);
    
    /* height: calc(100vh - var(--navHeight)); */
    height: calc(100% - var(--navHeight));
    width: calc(100vw);

}

/* 
//------------//------------//------------
    4. Components    
//------------//------------//------------
*/

/* 
//------------//------------
    4.1 Side Panel
//------------//------------
*/
#sidePanel{
    z-index: 3;
    position: absolute;
    top: 0;
    left: calc(100%);
    
    
    height: 100%;
    width: 100%;

    background-color: var(--color700);
    color: var(--textColor400);
    
    transition: 1s left;
    touch-action: auto;
    cursor: default;

    white-space: pre-wrap;
}
/* 
//------------
    4.11 Toggle Button
//------------
*/
#sidePanelBtn{
    font-size: 1rem;

    z-index: 4;
    position: absolute;
    top: calc(50% - 2rem);
    left: -2.5rem;

    width: 3rem;
    height: 3rem;
    margin: 1rem;

    border-radius: .5rem;

    color: var(--textColor700);
    background-color: var(--color400);
    box-shadow: 0px 0px 0px 4px var(--color700),
    0px 0px 0px 8px var(--color400);

    font-weight: 700;
    font-size: 2rem;

    transform: rotate(45deg);
    transition: .6s transform;

    cursor: pointer;
}
    #sidePanelBtn:before{
        position: absolute;
        left: 35%;
        top: 65%;

        font-family: 'FontAwesome';
        content: "\f078";
        
        transform: translate(-60%, -40%) rotate(45deg);
        transition: .3s transform;
    }

/* 
//------------
    4.12 Info Panel
//------------
*/
#panelInfo{
    position: absolute;
    top: 0;

    padding: 1rem;

    height: calc(100% - 1rem * 2);
    width: calc(100% - 1rem * 2);

    overflow: auto;
}
    #panelInfo::-webkit-scrollbar{
        background-color: var(--color700);
        border-left: solid 1px var(--color400);
    }
    #panelInfo::-webkit-scrollbar-track{
        background-color: var(--textColor400);
    }
    #panelInfo::-webkit-scrollbar-thumb{
        background-color: var(--color400);
        border: 1px solid var(--textColor700);
        border-radius: 25px;
    }

/* 
    4.12a Category
*/
.category{
    padding-right: 1rem;
    padding-left: 3rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}
    .category > :not(p){
        padding: 1rem;
        margin-right: -1rem;
        margin-left: -4rem;
        padding-left: 1rem;
    }
    .category:first-of-type{
        padding: 3rem;
        /* cover top parent */
        margin-left: -1rem;
        padding-left: 4rem;
        margin-right: -1rem;
        padding-right: 1rem;
        margin-top: -1rem;

        background: linear-gradient(180deg, var(--color400),rgba(220,9,20,0));
    }
    .category h2{
        text-transform: uppercase;
        text-shadow: -1px -1px 1px var(--color700), 1px -1px 1px var(--color700), -1px 1px 1px var(--color700), 1px 1px 1px var(--color700);
        color: var(--textColor400);
        text-align: center;
    }
    .category h3{
        background: linear-gradient(270deg, var(--color700), 20%, var(--color400), 80%, var(--color700));
        
        text-align: center;
        
        text-transform: uppercase;
    }
    .category p{
        color: var(--textColor700);
        line-height: 1.5rem;
    }

/* 
    4.12b Divider
*/
.divider{
    position: relative;
    
    margin-right: -1rem;
    margin-left: -1rem;
}
    .divider div:nth-of-type(1),
    .divider div:nth-of-type(2)
    {
        width: 12px;
        height: 12px;
        border: solid 1px var(--color400);
        background-color: var(--color700);
        position: absolute;
        transform: rotate(45deg);
        top: -6px;
    }
    .divider div:nth-of-type(1){
        left: 3rem;
    }
    .divider div:nth-of-type(2){
        right: 1rem;
    }
    .divider div:nth-of-type(3){
        border-top: solid 1px var(--color400);
    }

/* 
//------------//------------
    4.2 Map
//------------//------------
*/
.map{
    z-index: 1;
    position: absolute;

    height: 100%;
    max-height: 2000px;
    width: fit-content;

    cursor: grab;
}
    .map img{
        display: block;

        height: 100%;

        pointer-events: none;
        -webkit-user-drag: none;
    }

/* 
//------------//------------
    4.3 Point
//------------//------------
*/
#pointsContainer{
    position: absolute;
    top: 0;
    left: 0;

    height: 100%;
    width: 100%;
}

.point{
    position: absolute;
    
    height: calc(4vh);
    width: calc(4vh);
    
    /* Makes it look like a pin */
    border-radius: 50% 50% 50% 0;
    transform: rotate(-45deg);
    
    background-color: var(--color400);
    /* border: solid 1px var(--color700); */
}   
    /* circle in middle of point */
    .point::after{
        content: "";
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);

        height: 50%;
        width: 50%;
        
        border-radius: 50%;

        background: var(--color700);
    }
    .point:hover{
        cursor: pointer;
    }
    .point:hover .tooltip{
        display: block;
    }
    


/* 
//------------//------------
    4.4 Tooltip
//------------//------------
*/
.tooltip{
    font-size: 2vh;
    position : relative;
    z-index: -1;
    /* 4vh/2 is the point width*/
    transform: rotate(45deg) translate(calc(-50% + 4vh/2), calc(-160%));
    transform-origin: left;
    white-space: nowrap;
    width: fit-content;

    padding: .2rem;
    border-radius: .2rem;

    background-color: var(--color700);
    color: var(--textColor400);

    display: none;
}

.tooltip::after{
    position: absolute;
    bottom: -.2rem;
    left: calc(50% - 6.5px);
    border-top: 5px solid #000;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    content: " ";
}

/* 
//------------//------------
    4.5 Settings Bar
//------------//------------
*/
#settingsBar{
    z-index: 2;
    position: absolute;
    bottom: 0;
    right: 0;

    display: flex;
    flex-direction: column;

    width: 10%;
    min-width: 50px;
    max-width: 100px;
    
    padding: 1rem;
    margin: 2rem;
    border-radius: .5rem;

    background-color: rgba(42,42,42, .5);
}
    #settingsBar button{
        flex-grow: 1;

        padding: 1rem;
        margin: .5rem;
    }

/* 
//------------//------------//------------
    5. State Classes
//------------//------------//------------
*/
.grabbing{
    cursor: grabbing;
}

.active{
    left: 0 !important;
}
    .active #sidePanelBtn{
        transform: rotate(225deg);
    }

.transition{
    transition: transform .5s;
}

/* 
//------------//------------//------------
    6. Media Queries 
//------------//------------//------------
*/

/* 
===== 6.1 Tablet/Desktop ===== 
*/
@media(min-width: 30rem) {
    #sidePanel{
        width: 30rem;
    }

    .active{
        left: calc(100% - 30rem) !important;
    }
}

/* 
    0. Quick-Hacks/Temporary
*/